.navBarNavButtons {
    color: white;
    background-color: transparent;
    text-decoration: none;
    height: 30px;
    width: 8rem;
    border-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 0.9rem;
}

.homeButton {
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.navBarNavButtons:hover,
.navBarNavButtons:active {
    color: orange;
}

.homeButton:hover,
.homeButton:active {
    color: orange;
}