.StLots {
    padding-top: 30px;
    height: 100%;
    width: 100%;
    background-image: url("../img/homescreen.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    overflow: auto;
    /*min-height: 100%;
    max-height: max-content;
    width: 100%;
    background-color: rgb(171, 173, 169);
    display: block;
    text-align: center;
    position: absolute;
    top: 62px;*/
}